/* Settings */

:root {
    --color-a: rgb(37, 40, 57);
    --color-b: rgb(181, 181, 183);
    --color-c: rgb(103, 112, 119);
    --color-d: rgb(242, 182, 50);
    --color-d: rgb(42, 215, 82);
    --header-color: var(--color-b);
    --header-border-size: 1.4rem;
    --avatar-size: 200px;
    --font-system: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    --font-1: 'Caveat', cursive;
    --font-2: 'Lato', sans-serif;
    --font-3: 'Cantarell', sans-serif;
    --font-4: 'Galdeano', sans-serif;
    --font-5: 'Source Sans Pro', sans-serif;
    --font-6: 'Noto Sans', sans-serif;
    --font-7: 'Arvo', serif;
}


/* Elements */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* reset */
h1,h2,h3,h4,h5,h6,hr,ol,ul,p,pre,dl,dt,dd {
    margin: 0;
}

/* Lobotomized owl selector */
* + *,
* + h1,
* + h2,
* + h3
{
    margin-top: 1rem;
}

body {
    padding: 0 0 2rem 0;
    margin: 0;
    background: var(--color-a);
    color: var(--color-b);
    text-shadow: 0 1px 0 rgba(0,0,0,0.8);
    font: 1.3rem / 1.7 var(--font-7);
}


/* Layout */

.l-page {

}



/* Components */

.c-header {
    position: relative;
    margin-bottom: calc(var(--header-border-size) + calc(0.5 * var(--avatar-size)));
    padding-top: 3rem;
    padding-bottom: calc(0.5 * var(--avatar-size) - 0.5 * var(--header-border-size));
    background: -webkit-linear-gradient(90deg,var(--header-color) 30%, var(--color-a) 230%);
    border-top: 4px solid var(--color-d);
    color: var(--color-a);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.65);
}

.c-header::after {
    content: '';
    position: relative;
    bottom: calc((-0.5 * var(--header-border-size)) - calc(0.5 * var(--avatar-size)));
    display: block;
    height: var(--header-border-size);
    width: 100%;
    -webkit-background-size: var(--header-border-size) var(--header-border-size);
    -moz-background-size: var(--header-border-size) var(--header-border-size);
    -o-background-size: var(--header-border-size) var(--header-border-size);
    background-size: var(--header-border-size) var(--header-border-size);
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(-45deg,var(--header-color) 25%,transparent 25%,transparent),
                      -webkit-linear-gradient(45deg,transparent 75%,var(--header-color) 75%);
}


.c-title {
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 0;
    padding: 0 2rem;
    font: 4.1rem/1 var(--font-1);
    font-weight: 400;
}

.c-subtitle {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 2rem;
    font-size: 1.25rem;
    font-weight: 400;
    /* font: 2rem var(--font-1); */
}

.c-avatar {
    position: absolute;
    bottom: calc(-0.5 * var(--avatar-size) + calc(-0.5 * var(--header-border-size)));
    left: calc(50% - calc(0.5 * var(--avatar-size)));
    border-radius: 50%;
    border: 6px solid var(--color-d);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index: 1;
}

.c-main {
    margin: 0 auto;
    max-width: 1024px;
}

@media (min-width:1000px){
    .c-info {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px,1fr));
        grid-gap: 20px;
    }

    .c-info > * {
        margin-top: 0;
    }
}

.c-segment {
    padding: 2rem;
}

.c-segment__header {
    color: var(--color-d);
    font: 3rem / 0.9 var(--font-1);
    font-weight: 100;
}

.c-testimonial {
    display: block;
    margin: 3rem auto;
    padding: 1.5rem 1.5rem 1.5rem 2rem;
    max-width: 40rem;
    justify-self: center;
    color: var(--color-c);
    background: rgba(0,0,0,0.2);
    border-left: 4px solid var(--color-d);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font: 1.6rem/1.3 var(--font-1);
    quotes: "\201C""\201D""\2018""\2019";
}

@media (min-width:50rem){
    .c-testimonial {
        font-size: 2rem;
        border-radius: 0 15px 15px 0;
        transform: rotate(-3deg);
    }
}

.c-testimonial__text::before,
.c-testimonial__text::after {
    content: open-quote;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline;
    height: 0;
    line-height: 0;
    left: -7px;
    position: relative;
    top: 33px;
    color: var(--color-b);
    font-size: 3em;
}

.c-testimonial__text::after {
    content: close-quote;
    left: 10px;
    top: 50px;
}

.c-testimonial__footer {
    text-align: right;
    font-size: 2.4rem;
    font-style: italic;
    color: var(--color-d);
}

@media (min-width:800px){
    .c-testimonial {
        grid-column: 1 / span 2;
    }
}

.c-list {
    margin-top: 1rem;
    padding: 0;
}

.c-list__item {
    display: flex;
    list-style: none;
    margin: 0;
    color: var(--color-b);
}

.c-list__item + .c-list__item {
    margin-top: 1rem;
}

.c-list--packed .c-list__item + .c-list__item {
    margin-top: 0.1rem;
}

.c-list--loose .c-list__item + .c-list__item {
    margin-top: 1.5rem;
}

.c-list__item::before {
    content: "•";
    padding-right: 1rem;
    color: var(--color-d);
}

.c-list--clean .c-list__item::before {
    content: none;
}

.c-skillset {
    display: flex;
    align-items: baseline;
    width: 100%;
}

.c-skillset dt {
    flex-basis: 50%;
    color: var(--color-c);
    font-family: var(--font-system);
}

.c-skillset dt::after {
    content: ':';
}

.c-skillset dd {
    flex-basis: 50%;
    position: relative;
    height: 12px;
    background: rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.c-skillset dd::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(var(--skill) * 1%);
    border-radius: 4px;
    background: -webkit-linear-gradient(75deg,var(--color-a), var(--color-d));
}



.c-data dt {
    font-style: italic;
    font: 1.1rem/1.5 var(--font-system);
    color: var(--color-c);
}

.c-data dd {
    color: var(--color-b);
}

.c-update {
    font-style: italic;
    font-size: 0.8rem;
}

/* Utility classes */

.u-text-right {
    text-align: right;
}