@media (min-width:$site-mq-large){
    .o-info-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
        grid-gap: 6rem;
        align-items: center;
        margin-top: 14vmin;
    }

    [data-grid="3-2"] {
        grid-template-columns: 3fr 2fr;
    }

    [data-grid="2-3"] {
        grid-template-columns: 2fr 3fr;
    }

    .o-info-grid > * {
        margin-top: 0;
    }

    [data-align="start"] {
        align-self: flex-start;
    }
    [data-align="end"] {
        align-self: flex-end;
    }
}