.c-segment {
    background: rgba(0,0,0,0.4);
    padding: 1.25rem;
    border-top: 1px solid var(--color-theme-c);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.19), 0 2px 6px rgba(0,0,0,0.23);

    &[data-dir="left"] {
        transform: perspective(400px) rotateY(-5deg);
    }
    &[data-dir="right"] {
        transform: perspective(400px) rotateY(5deg);
    }
}

.c-segment__header {
    margin-bottom: 2rem;
    color: var(--color-theme-c);
    font: 1.8rem / 0.9 var(--font-secondary);
    font-weight: 100;
}