.c-data dt {
    font-style: italic;
    font: 0.7em/1.5 $font-system;
    color: $color-neutral-dark;
}

.c-data dd {
    color: $color-neutral-light;
    font: 0.9em/1.5 $font-tertiary;
    word-break: break-word;
}

.c-data__sub {
    font: 300 0.7em / 1.3 $font-system;
    color: $color-neutral-dark;
}