$list-icons: (
    piano: 🎹,
    game: 🎮,
    garden: 🏡,
    run: 🏃,
    chart: 📈,
    radio: 📻,
    photo: 📸,
    bbq: 🥩
);

.c-list {
    padding: 0;
}

.c-list__item {
    display: flex;
    align-items: flex-start;
    margin: 0;
    color: $color-neutral-light;
    transform: perspective(4000px);

    &::before {
        content: "•";
        padding-right: 1rem;
    }

    &[data-icon]::before {
        content: "😊";
        font-size: 1.4rem;
        opacity: 0.7;
        transform: scale(1.2) rotate(-3deg);
        transform-origin: left center;
    }
    @each $icon-name, $icon in $list-icons {
        &[data-icon="#{$icon-name}"]::before {
            content: "#{$icon}";
        }
    }
}

.c-list__item + .c-list__item {
    margin-top: 1rem;
}


/**
 * Modifiers
 */

.c-list--packed {
    & .c-list__item + .c-list__item {
        margin-top: 0.1rem;
    }
}

.c-list--clean {
    .c-list__item::before {
        content: none;
    }
}