$testimonial-transition-speed: 600ms;
$testimonial-perspective: 900px;
$testimonial-rotation: 20deg;
$testimonial-easing: cubic-bezier(0.42, 0, 0, 2);

.c-testimonial {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding: 1.5rem 1.5rem 1.5rem 2rem;
    max-width: 40rem;
    justify-self: center;
    color: $color-neutral-dark;
    text-shadow: 0 1px 1px rgba(20,20,20,1);
    background: hsla(347, 83%, 0%, 0.36);
    border-left: 2px solid $color-d;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font: 1.2rem/1.6 $font-secondary;
    quotes: "\201C""\201D""\2018""\2019";

    @media (min-width:$site-mq-large){
        margin: 20vmin -1rem;
    }
}

@media (min-width:50rem){
    .c-testimonial {
        margin-left: auto;
        margin-right: auto;
        font-size: 1.4rem;
        border-radius: 0 15px 15px 0;
        transform: perspective($testimonial-perspective) rotate(-2.5deg);
        transition: transform $testimonial-transition-speed $testimonial-easing;

        &:hover {
            transform: perspective($testimonial-perspective) scale(1.1) rotateX(#{$testimonial-rotation});
            transition: transform $testimonial-transition-speed $testimonial-easing;
        }
    }
}

.c-testimonial__text::before,
.c-testimonial__text::after {
    content: open-quote;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline;
    line-height: 0;
    left: -7px;
    position: relative;
    top: 33px;
    color: $color-d;
    font-size: 3em;
}

.c-testimonial__text::after {
    content: close-quote;
    left: 10px;
    top: 30px;
}

.c-testimonial__footer {
    margin-top: 1rem;
    text-align: right;
    font-size: 2rem;
    font-style: italic;
    color: $color-neutral-light;
}

@media (min-width:800px){
    .c-testimonial {
        grid-column: 1 / span 2;
    }
}