.c-update {
    position: relative;
    padding: 3rem 3rem;
    font: 1.1rem / 1 var(--font-primary);
    text-shadow: none;
    text-align: right;
    color: var(--color-theme-a);
    background:
            linear-gradient(55deg,var(--color-theme-d) 30%,transparent 30%),
            linear-gradient(25deg,var(--color-theme-b) 60%,var(--color-theme-c) 60%);
}