$timeline-border-size: 3px;
$timeline-color: $color-neutral-dark;

.timeline {
  margin: 2.5rem 0 0;
  padding: 0;
}

.timeline__item {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  position: relative;
  margin: 0 0 0 0.5rem;

  &::before {
    content: "";
    width: $timeline-border-size;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: $timeline-color;
    transition: background-color 200ms ease;
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 1.65rem;
    width: 1rem;
    height: 1rem;
    transform: translateX(calc(-50% + #{$timeline-border-size} / 2));
    border-radius: 50%;
    background-image: radial-gradient($color-neutral-light 30%, $color-a 30%);
    border: $timeline-border-size solid $timeline-color;
    transition: border 200ms ease;
  }

  &:first-child {
    &::before {
      border-radius: 4px 4px 0 0;
    }
  }

  &:last-child {
    padding-bottom: 0;

    &::before {
      border-radius: 0 0 4px 4px;
    }
  }

  &.is-active {
    font-size: 1.35em;

    &::after {
        top: 1.95rem;
        border-color: $color-c;
    }
  }
}

.timeline__content {
  margin-top: -7px;
  margin-left: 1.5rem;
  padding: 2rem 0;
  transition: transform 200ms ease;
  transform-origin: left center;
}