.c-skillset {
    display: flex;
    align-items: baseline;
    width: 100%;
}

.c-skillset dt {
    flex-basis: 50%;
    padding-bottom: 1rem;
    color: $color-neutral-dark;
    font: 1rem / 1.2 $font-code;
    word-break: break-word;
}

.c-skillset dt::after {
    content: ':';
}

.c-skillset dd {
    flex-basis: 50%;
    position: relative;
    height: 12px;
    background: -webkit-linear-gradient(0deg, $color-b 10%, $color-c 30%, $color-d 85%);
    border: 1px solid $color-a;
    border-radius: 5px;
    overflow: hidden;
}

.c-skillset dd::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc((100 - var(--skill)) * 1%);
    background: $color-a;
}