$segment-transition-speed: 300ms;
$segment-perspective: 1000px;
$segment-rotation: 20deg;
$segment-easing: cubic-bezier(0.42, 0, 0, 2);

.c-segment {
    background: rgba(0,0,0,0.4);
    padding: 1.25rem;
    border-top: 1px solid var(--color-theme-c);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.19), 0 2px 6px rgba(0,0,0,0.23);
    transform: perspective($segment-perspective);
    transition: transform $segment-transition-speed $segment-easing;

    &:hover {
        transition: transform $segment-transition-speed $segment-easing;
    }
    &[data-dir="left"]:hover {
        transform: perspective($segment-perspective) rotateY(-#{$segment-rotation});
    }
    &[data-dir="right"]:hover {
        transform: perspective($segment-perspective) rotateY(#{$segment-rotation});
    }
}

.c-segment__header {
    margin-bottom: 2rem;
    color: var(--color-theme-c);
    font: 1.8rem / 0.9 var(--font-secondary);
    font-weight: 100;
}