.c-header {
    position: relative;
    margin-top: 0;
    padding: 3rem 0;
    background: var(--color-neutral-light);
    border-top: 4px solid var(--color-neutral-dark);
    color: var(--color-theme-a);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.65);
}

.c-header__title {
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 0;
    padding: 0 2rem;
    font: 4.1rem/1 var(--font-secondary);
    font-family: var(--font-tertiary);
    letter-spacing: -2px;
    font-weight: bold;
}

.c-header__subtitle {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 2rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--color-neutral-dark);
}

.c-header-line {
    position: sticky;
    top: 0;
    z-index: 1;
    margin-top: 0;
    height: 6px;
    width: 100%;
    background:
        linear-gradient(55deg,var(--color-theme-b) 30%,transparent 30%),
        linear-gradient(25deg,var(--color-theme-c) 60%,var(--color-theme-d) 60%);
}