
.c-list {
    margin-top: 1rem;
    padding: 0;
}



$list-icons: (
    piano: 🎹,
    tv: 📺,
    game: 🎮,
    run: 🏃,
    chart: 📈,
    radio: 📻,
    photo: 📸,
);

.c-list__item {
    display: flex;
    list-style: none;
    margin: 0;
    color: var(--color-b);

    &::before {
        content: "😊";
        padding-right: 1rem;
        color: var(--color-b);
    }
    @each $icon-name, $icon in $list-icons {
        &[data-icon="#{$icon-name}"]::before {
            content: "#{$icon}";
        }
    }
}

.c-list__item + .c-list__item {
    margin-top: 1rem;
}

.c-list--packed .c-list__item + .c-list__item {
    margin-top: 0.1rem;
}

.c-list--loose .c-list__item + .c-list__item {
    margin-top: 1.5rem;
}


.c-list--clean .c-list__item::before {
    content: none;
}

