@mixin header-line(){
    width: 100%;
    height: 8px;
    background:
        linear-gradient(55deg,$color-b 20%, transparent 40%),
        linear-gradient(25deg,$color-c 55%,$color-d 75%);
}

.c-header {
    position: relative;
    z-index: 2;
    margin-top: 0;
    padding: 8vmin 0;
    color: $color-a;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.65);
    border-top: 4px solid $color-neutral-dark;
    background-color: $color-neutral-light;
    background-image:
        radial-gradient(farthest-corner at 10% -110%, rgba($color-neutral-light,0.4) 72%, rgba(255,255,255, 0.07) 72%), // curve
        radial-gradient(farthest-corner at 110% -130%, rgba(0,0,0, 0.02) 65%, rgba($color-neutral-light, 0.01) 65%), // curve 2
        linear-gradient(rgba(0,0,0,0.3) -65%, $color-neutral-light 100%); //fade

    &::after {
        @include header-line;
        content: '';
        position: absolute;
        bottom: 0;
        display: block;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
}

.c-header__title {
    box-sizing: content-box;
    max-width: $site-max-width;
    margin: 0 auto;
    margin-top: 0;
    padding: 0 $site-gutter;
    font: 4.1rem / 1 $font-secondary;
    font-family: $font-tertiary;
    letter-spacing: -2px;
    font-weight: bold;
}

.c-header__subtitle {
    box-sizing: content-box;
    max-width: $site-max-width;
    margin: 0 auto;
    padding: 0 $site-gutter;
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(0,0,0,0.66);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.c-header-line {
    @include header-line;
    position: fixed;
    top: 0;
    z-index: 1;
    margin-top: 0;
}