.c-header {
    position: relative;
    margin-top: 0;
    margin-bottom: 3rem;
    padding: 3rem 0;
    background: -webkit-linear-gradient(90deg,var(--header-color) 30%, var(--color-a) 230%);
    border-top: 4px solid var(--color-d);
    color: var(--color-a);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.65);
}

.c-header::after {
    content: '';
    position: relative;
    bottom: calc((var(--header-border-size) + 3rem) * -1);
    display: block;
    height: var(--header-border-size);
    width: 100%;
    background-size: var(--header-border-size) var(--header-border-size);
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(-45deg,var(--header-color) 25%,transparent 25%,transparent),
                      -webkit-linear-gradient(45deg,transparent 75%,var(--header-color) 75%);
}


.c-header__title {
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 0;
    padding: 0 2rem;
    font: 4.1rem/1 var(--font-secondary);
    font-weight: 400;
}

.c-header__subtitle {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 2rem;
    font-size: 1.25rem;
    font-weight: 400;
}

// .c-header__avatar {
//     position: absolute;
//     bottom: calc(-0.5 * var(--avatar-size) + calc(-0.5 * var(--header-border-size)));
//     left: calc(50% - calc(0.5 * var(--avatar-size)));
//     border-radius: 50%;
//     border: 6px solid var(--color-d);
//     box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
//     z-index: 1;
//     filter: sepia(1) hue-rotate(88deg) saturate(3.5);
// }