// Colors
$color-a: hsl(249, 20%, 14%);
$color-b: hsl(175, 51%, 48%);
$color-c: rgb(96, 71, 199);
$color-d: hsl(347, 83%, 60%);
$color-neutral-light: hsl(249, 8%, 70%);
$color-neutral-dark: hsl(249, 8%, 48%);

// Fonts
$font-system: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$font-primary: 'Rubik', sans-serif;
$font-secondary: 'Gloria Hallelujah', cursive;
$font-tertiary: 'Arvo', serif;
$font-code: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;