// Colors
$color-a: hsla(231, 21%, 28%, 1);
$color-b: hsla(182, 81%, 41%, 1);
$color-c: hsla(58, 100%, 53%, 1);
$color-d: hsla(313, 100%, 75%, 1);
$color-neutral-light: hsla(0, 0%, 80%, 1);
$color-neutral-dark: hsla(206, 0%, 53%, 1);

// Fonts
$font-system: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$font-primary: 'Rubik', sans-serif;
$font-secondary: 'Gloria Hallelujah', cursive;
$font-tertiary: 'Arvo', serif;
$font-code: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;