// Color helper classes
.u-color-a {
    color: $color-a !important;
}
.u-color-b {
    color: $color-b !important;
}
.u-color-c {
    color: $color-c !important;
}
.u-color-d {
    color: $color-d !important;
}
.u-color-neutral-light {
    color: $color-neutral-light !important;
}
.u-color-neutral-dark {
    color: $color-neutral-dark !important;
}


.u-text-right {
    text-align: right !important;
}
.u-text-small {
    font-size: 0.9rem !important;
}


.u-font-secondary {
    font-family: $font-secondary;
}
.u-font-tertiary {
    font-family: $font-tertiary;
}

.u-nowrap {
    white-space: nowrap;
}