.u-text-right {
    text-align: right !important;
}
.u-text-small {
    font-size: 0.9rem !important;
}


// Color helper classes
.u-color-theme-a {
    color: $color-theme-a !important;
}
.u-color-neutral-light {
    color: $color-neutral-light !important;
}
.u-color-neutral-dark {
    color: $color-neutral-dark !important;
}
.u-color-theme-b {
    color: $color-theme-b !important;
}

.u-font-secondary {
    font-family: $font-secondary;
}
.u-font-tertiary {
    font-family: $font-tertiary;
}

.u-nowrap {
    white-space: nowrap;
}