.u-text-right {
    text-align: right !important;
}
.u-text-small {
    font-size: 0.9rem !important;
}


// Color helper classes
.u-color-theme-a {
    color: var(--color-theme-a) !important;
}
.u-color-neutral-light {
    color: var(--color-neutral-light) !important;
}
.u-color-neutral-dark {
    color: var(--color-neutral-dark) !important;
}
.u-color-theme-b {
    color: var(--color-theme-b) !important;
}

.u-font-secondary {
    font-family: var(--font-secondary);
}
.u-font-tertiary {
    font-family: var(--font-tertiary);
}

.u-nowrap {
    white-space: nowrap;
}