html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
ul,
p,
pre,
dl,
dt,
dd {
  margin: 0;
}

p {
  max-width: 40em;
}

/* Lobotomized owl selector */
* + *,
* + h1,
* + h2,
* + h3,
* + h4,
p + p {
  margin-top: 2.5rem;
}

body {
  padding: 0;
  margin: 0;
  color: $color-neutral-light;
  font: 1.3rem / 1.65 $font-primary;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  background-color: $color-a;
  background-image: linear-gradient($color-a 0%, rgba(255,255,255,0.1) 100%); //fade
  background-attachment: fixed;

  @media (min-width:600px){
    background-image:
    radial-gradient(farthest-corner at 170% 110%, rgba($color-a,0.1) 72%, rgba(255,255,255, 0.02) 72%), // curve
    radial-gradient(farthest-corner at 210% -50%, rgba(0,0,0, 0.13) 65%, rgba($color-a, 0.01) 65%), // curve 2
    linear-gradient($color-a 0%, rgba(255,255,255,0.1) 100%); //fade
  }
}
main {
  box-sizing: content-box;
  max-width: $site-max-width;
  margin: 8vw auto;
  padding: 0 $site-gutter;

  h2, h3, h4, h4, h6 {
    font-family: $font-tertiary;
    line-height: 1.1em;
    margin-bottom: 0.3em;
  }
  h2 {
    color: $color-d;
    font-size: 2rem;
  }
  h3 {
    color: $color-b;
    font-size: 1.6rem;
}
h4 {
    color: $color-d;
    font-size: 1rem;
  }
}

section {
    // @media (min-width:$site-mq-large){
        margin-top: 14vmin;
    // }
}

a {
  color: $color-neutral-light;

  &:hover,
  &:active,
  &:focus {
    color: $color-b;
  }
}

blockquote {
  font: 1.6rem / 1.5 $font-secondary;
  color: $color-c;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.90194);
  text-align: center;
}

b {
  color: white;
  text-shadow: 0 0 4px hsla(0, 0%, 0%, 0.75);
  font-weight: normal;
}

figure {
    margin: 2rem 0 0;
}

figcaption {
    margin-top: 0.5rem;
    color: $color-neutral-dark;
    font-size: .9rem;
    font-style: italic;
}

::selection {
  background-color: $color-c;
  color: $color-neutral-light;
}