html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
ul,
p,
pre,
dl,
dt,
dd {
  margin: 0;
}

p {
  max-width: 40em;
}

/* Lobotomized owl selector */
* + *,
* + p,
* + h1,
* + h2,
* + h3 {
  margin-top: 2.5rem;
}

body {
  padding: 0;
  margin: 0;
  background: var(--color-a);
  color: var(--color-b);
  text-shadow: 1px 2px 4px mix(rgb(19, 84, 122), black, 85%);
  font: 1.4rem / 1.5 var(--font-primary);

//   background-image:
//     linear-gradient(
//         90deg,
//         transparent,
//         var(--color-a) 90%
//     ),
//     linear-gradient(
//         0deg,
//         rgb(19, 84, 122) 0%,
//         rgb(128, 208, 199) 100%,
//     );
    background: linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
    // background: linear-gradient(70deg, #fff810  30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
  background-attachment: scroll, fixed;
}

main {
  margin: 8vw auto;
  padding: 0 2rem;
  max-width: 1024px;

  h2, h3, h4 {
    font-family: var(--font-tertiary);
    color: var(--color-d);
  }
}

a {
  color: var(--color-b);

  &:hover,
  &:active,
  &:focus {
    color: var(--color-d);
  }
}

blockquote {
  border-left: 5px solid var(--color-d);
  padding-left: 1rem;
  margin-left: 0;
  font: 2rem/1.5 var(--font-secondary);
  color: var(--color-c);
}

b {
  color: var(--color-c);
}